/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/*Set background image*/
.container {
  background-image: url('https://doc-10-ao-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/r085o9ungppbiokopob2sfbekae4uqbb/1537920000000/14802840322886517493/*/110cT8sl-pOiHGgj9yToPkAqAzrr-RNfb');
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Position text in the middle */
.middle {
  position: absolute;
  color: beige;
  top: 70%;
  left: 39%;
  text-align: center;
  font-size: 25px;
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: left !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: beige;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: red;
  text-decoration: none;
}

/*Assignment code starts from here*/
.title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}

    .intro-type .container {
        padding: 107px 0px 102px 0px !important;
    }

    #product-header-section, .intro-type .container {
        padding: 68px 15px 72px !important;
    }

@media (min-width: 1630px) .container {
    width: 1630px;
}

.parallax {
    height: auto;
    background-attachment: inherit !important;
}

.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}

.company-heading h1 {
    margin-bottom: 40px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}

.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 20px;
}

.company-sections h2 {
    font-weight: 800;
    font-size: 50px;
}

.company-sections h2, .company-sections h3 {
    font-family: 'proxima-nova', sans-serif;
}

.company-sections h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}

.red-border {
    width: 50%;
    border-bottom: 1px solid #d2282e;
    margin: 0 auto;
    height: 16px;
}

.company-sections p {
    margin-top: 20px;
}

.ct-u-size22 {
    font-size: 22px;
}

.ct-u-fontWeight300 {
    font-weight: 300;
}

.marginTop40 {
    margin-top: 40px !important;
}

.ct-u-paddingBoth100 {
    padding: 100px 15px;
}

.culture-section {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),top no-repeat;
    background-image: url("../img/blue.jpg");
}

.company-sections {
    text-align: center;
}

.ct-u-paddingBoth10 {
    padding: 10px 15px;
}

.company-sections h2 {
    font-weight: 800;
    font-size: 50px;
}

.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}

.btn-solodev-red-reversed {
    background-color: #fff;
    color: #d2282e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px 35px;
}

.btn, .btn-blk {
    font-size: 18px !Important;
}

a:hover, a:focus {
    text-decoration: none;
}

.ct-u-size19 {
    margin-top: 40px;
}

a:hover {
    color: #000;
}

.ct-u-paddingBottom100 {
    margin-top: 40px;
}

.culture-section {
    background-size: cover;
    color: #fff;
}